body {
  font-family: Helvetica, sans-serif;
  text-align: center;
}

.withBackgrounImage {
  color: White;
  background-image: url("../img/the-flatiron-building.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.noListMarker {
  list-style-type: none;
}

.noListMarker li {
  padding: 5px;
}

.noListMarker a {
    color: white;
    text-decoration: none;
}

.lowerBanner {
  background-color: Gray;
  color: white;
  text-align: left;
}

.whiteLink a {
  color: white;
  padding: 3px;
  text-decoration: none;
}

.spreadList {
  text-align: right;
}

.spreadList li {
  display: inline;
}

.spreadList a {
  color: white;
  padding: 15px;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
