body {
  font-family: Helvetica, Verdana, sans-serif;

}

h1,
h2,
h3 {
  font-weight: bold;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#iron {
  text-align: right;
}

#iron a {
  padding: 7px;
}

.gold {
  background-image: url("../img/the-flatiron-building.png");
  background-size: 100%;
  text-align: center;
  color: white;
}

.gold h1 {
  font-size: 56px;
}

.silver {
  text-align: center;
}

.silver h2 {
  font-size: 32px;
}

.silver h3 {
  font-size: 24px;
}


.coin {
  text-align: center;
}

.coin p {
  font-size: 14px;
}

.navs {
  font-size: 16px;
  color: white;
}

.footer {
  background-color: gray;
  font-size: 14px;
  color: white;
}
